.modal-child-create-server-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  width: 650px;
  height: 400px;
}


.create-server-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#create-server-header {
  padding-top: 25px;
  color: #7289DA;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  color: #7289da;
  font-size: 18px;
  text-align: center;
}

#create-server-message {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  padding: 10px 0;
  color: #747f8d;
}

.create-server-inputs {
  display: flex;
  flex-direction: row;
  /* align-self: center; */
  justify-content: space-evenly;
}

.text-input-area {
  display: flex;
  flex-direction: column;
}

#server-name-text {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.create-server-text-input-field {

}

#create-server-add-photo-input {

}

.image-preview {
  max-width: 100px;
  max-height: 100px;
}

.bottom-nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  /* justify-self: self-end; */
}