.modal-child-edit-server-modal {
  position: absolute;
  top: 55px;
  left: 85px;
  /* transform: translate(-50%, -50%); */
  background-color: white;
  border-radius: 5px;
  width: 285px;
  height: 200px;
}