header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0D0620;
}


.welcome-message {
  border-radius: 25px;
  background-color: #7289DA;
  padding: 15px;
}


.links {
  display: flex;
  flex-direction: row;
}