header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0D0620;
}


.welcome-message {
  border-radius: 25px;
  background-color: #E6F9AF;
  padding: 15px;
}


.links {
  display: flex;
  flex-direction: row;
}

.links a {
  padding: 5px;
  border-radius: 25px;
  background-color: #E6F9AF;
}