#welcome-message-1 {
  font-weight: bold;
}

#welcome-message-2 {
  font-size: 15px;
  font-style: helvetica;
  color: rgba(255, 255, 255, 0.6);
}

.welcome-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome-message {
  border-radius: 25px;
  padding: 15px;
  color: #FFFFFF;
}

.main-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#main-nav-bar-discordiconbackground {
  height: 55px;
  width: auto;
  padding: 10px 10px 10px 10px;
}

.main-nav-bar-login-button-container {
  padding: 10px 10px 10px 10px;
}

#main-nav-bar-login-button {
  border: 1px, gray;
  border-radius: 25px;
}

#main-nav-bar-login-link {
  color: gray;
}

.main-app {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.main-app-nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  align-items: center;
  height: 100%;
  color: white;
}

.guild-separator {
  height: 2px;
  width: 32px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 1px;
  background-color: gray;
  display: block;
}

.main-app-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.main-app-icon-container:hover {
  border-radius: 10px;
}


.main-app-nav-bar-discordicon {
  width: 35px;
  height: 35px;
}

.server-index-list {
  display: flex;
  flex-direction: column;
}



/* Main App Container */
.main-app-content-page {
  color: white;
  height: 100vh;
  width: 100vw;
}


.main-app-main-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main-app-nav-bar button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 1px;
}

.main-app-nav-bar button:hover {
  border-radius: 10px;
}

#main-app-top-bar {
  display: block;
  background-color: red;
  width: 100%;
}

.main-app-content-container {
  display: flex;
  height: 100%;
}

#main-app-content-side-bar {
  height: 100%;
  background-color: green;
}

#main-app-content {
  height: 100%;
  width: 100%;
  background-color: pink;
}

.server-index-item {
  border: 1px solid black;
  margin: 1px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.server-index-item:hover {
  border-radius: 10px;
  width: 50px;
  height: 50px;
}