.welcome-image-container {
  position: relative;
  width: 1000px;
  height: 700px;
  left: 0.1%;
}

.welcome-image-container div {
  left: 50%;
}

.welcome-image-small-box {
  left: 35%;
  top: 3%;
  -webkit-transition: none;
  transition: none;
  position: absolute;
}

.welcome-image-desktop {
  top: 15%;
  left: 60%;
  margin-left: -289.5px;
  position: absolute;
}

#welcome-image-bomb {
  top: 25%;
  left: 12%;
  position: absolute;
}

#welcome-image-coin-1 {
  top: 28%;
  left: 20%;
  position: absolute;
}

#welcome-image-coin-2 {
  left: 75%;
  position: absolute;
}

#welcome-image-potion {
  top: 53%;
  position: absolute;
}

#welcome-image-gamepack {
  top: 12%;
  z-index: -1;
  left: 85%;
  position: absolute;
}

.welcome-image-android {
  top: 45%;
  left: 45%;
  margin-left: -384px;
  position: absolute;
}

.welcome-image-iphone {
  top: 46%;
  left: 45%;
  margin-left: -229.5px;
  position: absolute;
}

.welcome-image-gamecontroller {
  top: 67%;
  left: 65%;
  margin-left: -255px;
  position: absolute;
}

.welcome-image-laptop {
  position: absolute;
}

.welcome-image-headphones {
  left: 50%;
  bottom: 19%;
  position: absolute;
}

#welcome-image-disc {
  position: absolute;
  top: 67%;
  left: 106%;
  z-index: -1;
}

#welcome-image-x-1 {
  position: absolute;
  opacity: 0.3;
  left: 5%;
}

#welcome-image-x-2 {
  position: absolute;
  opacity: 0.3;
  left: 120%;
  top: 55%;
}

.laptop-headphones-parent {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 50%;
  top: 41%;
}

.laptop-headphones-child {
  position: relative;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .welcome-image-small-box {
    display: none;
  }
  .welcome-image-laptop {
    display: none;
  }
  .welcome-image-headphones {
    display: none;
  }
  .welcome-image-gamecontroller {
    display: none;
  }
  .welcome-image-desktop {
    display: none;
  }
  #welcome-image-coin-1 {
    display: none;
  }
  .welcome-image-coin-2 {
    display: none;
  }
  #welcome-image-bomb {
    display: none;
  }
  #welcome-image-potion {
    display: none;
  }
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    transition: all .5s ease;
}

.floating2 {  
    animation-name: floating;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    transition: all .5s ease;
}


@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}